@media only screen and (min-width: 1400px) {
  .mat-card-image {
    max-height: 155px;
  }
  .mat-card {
    min-height: 380px;
  }
}

.ammo-header-image {
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/123/123628.svg');
    background-size: cover;
    height: 25px;
    width: 25px;
}

.mat-card-avatar {
  border-radius: 0;
}